{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}

{% for message in messages %}
<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-secondary" type="submit" value="Update Event">
    </form>
</div>

{% endif %}

{% endblock %}