{% extends 'base.html' %}

{% block content %}

<div class="container">
  <form method="POST" action="searchevent" class="d-flex" role="search">
    {% csrf_token %}
    <input class="form-control me-2" name="searched" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
<br/><br/>
<h1>Events</h1>
<br/>
{% for event in events %}

<div class="card">
    <div class="card-header">
      <h4><a href="{% url 'eventdetail' event.id %}"> {{event.name}}</a></h4>
    </div>
    <ul>
    <div class="card-body">
      <li><h7 class="card-title">Date: {{event.event_date}}</h7></li>
      {% if event.is_past == "Future" %}
      <li><h7 class="card-title">Days Till Event: {{event.days_till}}</h7></li>
      {% else %}
      <li><h7 class="card-title">Event has already passed</h7></li>
      {% endif %}
      <li><h7 class="card-title">Venue: {{event.venue}}</h7></li>
      <li><h7 class="card-title">Website: {{event.venue.web}}</h7></li>
      <li><h7 class="card-title">Manager: {{event.manager}}</h7></li>
      <li><h7 class="card-title">Description: {{event.description}}</h7></li>
      <li><h7 class="card-title">Attendees: 
        {% for attendee in event.attendees.all %}
        {{attendee.first_name}} {{attendee.last_name}}<br/>
        {% endfor %}</h7></li>
      
    </div>
    </ul>
    {% if user.is_authenticated %}
      {% if user.id == event.manager.id %}
      <div class="card-header">
        <h4><a class="btw btw-secondary" href="{% url 'editevent' event.id %}">Edit</a></h4>
      </div>
      {% endif %}
    {% endif %}
</div>
<br/>
{% endfor %}

{% endblock %}